.contacto{
/*background-color: aqua;*/

}

.contact{
padding-left: 10px;
&__subtitle{
    color: crimson;
}
&__link{
text-decoration: none;
color: green;
}

}

.linea{
    height: 6px;
    width: 50%;
    border: none;
    background-color: rgb(163, 12, 12);
  }
  hr{
   border-color: red;
  }

@media (min-width:1300px){
.contact{
    width: 1280px;
    margin: auto;
    background-color: aliceblue;
}
}